@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-Raleway: var(--font-raleway);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.5rem;

  /* Fallbacks for Safari iOS 15 and below */
  --background: #ffffff;
  --foreground: #221133;
  --card: #ffffff;
  --card-foreground: #221133;
  --popover: #ffffff;
  --popover-foreground: #221133;
  --primary: #5b30ff;
  --primary-foreground: #fafafa;
  --secondary: #a3e638;
  --secondary-foreground: #332255;
  --muted: #e3e3f3;
  --muted-foreground: #736fbc;
  --accent: #c9b8ff;
  --accent-foreground: #221144;
  --destructive: #d23c3c;
  --border: #cccce0;
  --input: #cccce0;
  --ring: #5b30ff;
  --chart-1: #5b30ff;
  --chart-2: #6886ff;
  --chart-3: #94a3ff;
  --chart-4: #4432b8;
  --chart-5: #362e89;
  --sidebar: #e3e3f3;
  --sidebar-foreground: #332255;
  --sidebar-primary: #5b30ff;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #c9b8ff;
  --sidebar-accent-foreground: #221144;
  --sidebar-border: #cccce0;
  --sidebar-ring: #5b30ff;
}

@supports (color: oklch(50% 0.2 200)) {
  :root {
    --background: oklch(1.000 0.000 0);
    --foreground: oklch(0.143 0.004 274.31);
    --card: oklch(1.000 0.000 0);
    --card-foreground: oklch(0.143 0.004 274.31);
    --popover: oklch(1.000 0.000 0);
    --popover-foreground: oklch(0.143 0.004 274.31);
    --primary: oklch(0.460 0.246 264.99);
    --primary-foreground: oklch(0.960 0.003 275);
    --secondary: #a3e638;
    --secondary-foreground: oklch(0.201 0.021 273.52);
    --muted: oklch(0.886 0.018 274.77);
    --muted-foreground: oklch(0.496 0.090 272.12);
    --accent: oklch(0.769 0.075 273.61);
    --accent-foreground: oklch(0.187 0.046 270.78);
    --destructive: oklch(0.580 0.237 28.43);
    --border: oklch(0.824 0.029 274.58);
    --input: oklch(0.824 0.029 274.58);
    --ring: oklch(0.460 0.246 264.99);
    --chart-1: oklch(0.460 0.246 264.99);
    --chart-2: oklch(0.598 0.167 270.15);
    --chart-3: oklch(0.718 0.094 273.06);
    --chart-4: oklch(0.351 0.189 264.92);
    --chart-5: oklch(0.275 0.134 265.78);
    --sidebar: oklch(0.886 0.018 274.77);
    --sidebar-foreground: oklch(0.201 0.021 273.52);
    --sidebar-primary: oklch(0.460 0.246 264.99);
    --sidebar-primary-foreground: oklch(0.960 0.003 275);
    --sidebar-accent: oklch(0.769 0.075 273.61);
    --sidebar-accent-foreground: oklch(0.187 0.046 270.78);
    --sidebar-border: oklch(0.824 0.029 274.58);
    --sidebar-ring: oklch(0.460 0.246 264.99);
  }
}

.dark {
  --background: #1a1a1a;
  --foreground: #fefefe;
  --card: #2a2a2a;
  --card-foreground: #fefefe;
  --popover: #2a2a2a;
  --popover-foreground: #fefefe;
  --primary: #5b30ff;
  --primary-foreground: #2a2a2a;
  --secondary: #3a3a3a;
  --secondary-foreground: #fefefe;
  --muted: #3a3a3a;
  --muted-foreground: #aaaaaa;
  --accent: #3a3a3a;
  --accent-foreground: #fefefe;
  --destructive: #e54747;
  --border: rgba(255, 255, 255, 0.1);
  --input: rgba(255, 255, 255, 0.15);
  --ring: #7c58f7;
  --chart-1: #5b30ff;
  --chart-2: #6ecc9f;
  --chart-3: #f4c942;
  --chart-4: #a04df2;
  --chart-5: #ee5e5e;
  --sidebar: #2a2a2a;
  --sidebar-foreground: #fefefe;
  --sidebar-primary: #5b30ff;
  --sidebar-primary-foreground: #fefefe;
  --sidebar-accent: #3a3a3a;
  --sidebar-accent-foreground: #fefefe;
  --sidebar-border: rgba(255, 255, 255, 0.1);
  --sidebar-ring: #7c58f7;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

* {
  scrollbar-width: thin;
}
